.tag {
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 6px rgba(13, 13, 13, 0.2);
  background:  var(--color-tag-bg);
}
.tag__text {
  font-size: var(--small-font-size);
  color: var(--color-text);
}

