.section__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section__title-container-inner {
  flex: 1;
  text-align: center;
}

.section__title {
  font-size: 2rem;
  color: var(--color-title);
}

.section__subtitle {
  font-size: 1.1rem;
  color: var(--color-text-secondary);
}

.section__buttons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.section__button {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
}
.section__button--admin {
  width: 40px;
  border-radius: 10px;
  aspect-ratio: 1;
  border: none;
  order: -1;
}

.section__title,
.section__subtitle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section__title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .section__buttons-container {
    width: 100%;
    justify-content: flex-end;
  }
}
