.section__title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__title-container-inner {
  flex: 1;
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
}

.section__button {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
}
.section__button--admin {
  width: 40px;
  border-radius: 10px;
  aspect-ratio: 1;
  border: none;
  order: -1;
}

.section__title,
.section__subtitle {
  text-align: center;
}
