.home__container {
  height: 60vh;
  display: grid;
  grid-template-columns: 50px 130px 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  place-content: center;
}

.home__data {
  grid-column: 3/4;
  grid-row: 1/3;
  margin-right: calc(50px + 130px);
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  grid-column: 1/2;
  grid-row: 1/2;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.5rem;
}

.home__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.home__hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}
.home__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}
.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--color-text);
  left: 0;
  top: 1rem;
}

.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

.home__img {
  background: url(../../assets/profile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(51 51 51 / 60%);
  order: 1;
  justify-self: center;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  width: 300px;
  height: 300px;
  animation: profile__animation 8s ease-in-out infinite 1s;
}

@keyframes profile__animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home__scroll {
  grid-column: 2/3;
  grid-row: 2/3;
}
.wheel {
  animation: scroll 2s ease infinite;
}
.home__scroll-button {
  display: flex;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-name {
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
  transition: color 0.3s;
  font-size: var(--small-font-size);
}
.home__scroll-arrow {
  font-size: 1.25rem;
  transition: color 0.3s;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .home__hand {
    width: 26px;
    height: 26px;
  }
  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }
  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }
  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-1);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home__container {
    /* grid-template-rows: 0.25fr 3fr;
    row-gap: 1rem; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 150px;
  }
  .home__social {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    grid-column: 3/3;
  }

  .home__data {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-right: 0;
  }

  .home__scroll {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .home__scroll {
    grid-column: 1/3;
    justify-self: start;
  }
  .home__container {
    height: 80vh;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 100px;
    height: 100px;
  }
  .home__hand {
    width: 22px;
    height: 22px;
  }
}
