.switch-container {
  display: flex;
  align-items: center;
  height: 20px;
  aspect-ratio: 2/1;
  border-radius: 2rem;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.switch {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 0.3s ease;
  transform: translate(3px, 0.3px);
}

.switch-container.dark-mode .switch {
  transform: translate(22px, 0.3px);
}
